body {
  display:flex;
  justify-content: center;
}
.container {
  width:400px;
  max-height:auto;
  margin:100px;
  padding: 20px;
  font-family: Arial, sans-serif;
  box-shadow:5px 5px 10px black;
  
}
  


h2 {
  text-align: left;
  color: turquoise;
}

.input-area {
  display:flex;
  margin-bottom: 10px;
  outline: auto;
  outline-color:turquoise;
}

.input-field {
  flex-grow: 1;
  padding: 5px;
}

.add-button {
  margin:none;
  padding: 10px;
  background-color:turquoise;
  color: white;
  cursor: pointer;
  border:1px solid black;
  border-radius:0;
}

.list {
  padding: 20px;
  list-style-type: circle;
  list-style-position: inside;
  
}

.list-item {
  display: flex;
  align-items: left;
  margin-bottom: 5px;
  margin-left: 20px;
}
.textarea {
outline: auto;
outline-color:turquoise;
margin:auto;
background-color:rgb(137, 252, 252)
}
