.container {
  width:80vw;
  max-height:auto;
  margin:100px;
  padding: 20px;
  font-family: Arial, sans-serif;
  outline-style:ridge;
  outline-color:azure;

}
  


h2 {
  text-align: left;
  color: rgb(25, 204, 121);
}

.input-area {
  display:flex;
  margin-bottom: 10px;
  outline: auto;
  outline-color:rgb(27, 214, 127) ;
}

.input-field {
  flex-grow: 1;
  padding: 5px;
}

.add-button {
  margin:none;
  padding: 10px;
  background-color:rgb(27, 214, 127);
  color: white;
  cursor: pointer;
}

.list {
  padding: 20px;
  
}

.list-item {
  display: flex;
  align-items: left;
  margin-bottom: 5px;
  margin-left: 20px;
}
.textarea {
outline: auto;
outline-color:rgb(27, 214, 127) ;
margin:auto;
background-color:rgb(198, 251, 253);
}
